.app-loader-bar {
  &.full-screen {
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--v-theme-grey-50), 1);
    inset: 0;
  }

  .v-progress-linear {
    position: fixed;
    z-index: 9999;
    inset-block-start: 0;
  }
}

@media screen and (max-width: 500px) {
  .layout-page-content,
  .layout-wrapper.layout-nav-type-vertical .layout-navbar {
    padding: 0.5rem;
  }

  .layout-wrapper.layout-nav-type-vertical.layout-navbar-sticky .layout-navbar {
    inset-block-start: 0.3rem;
  }

  .layout-wrapper.layout-nav-type-vertical.layout-navbar-sticky .layout-page-content {
    margin-block-start: 0.3rem;
  }
}

.v-app-loader {
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--v-theme-grey-50), 0.6);
  inset: 0;

  .spinner-circle {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    block-size: 40px;
    border-block-start: 3px solid rgba(var(--v-theme-primary), 1);
    inline-size: 40px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.page-card {
  min-block-size: 82vh;

  .v-card-title {
    white-space: normal;
  }
}

// input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

// form modal
.form-modal.v-theme--dark .v-btn--disabled,
.v-theme--dark .bg-primary.v-btn--disabled {
  background-color: rgb(var(--v-theme-grey-200)) !important;
}

// details modal
.details-modal {
  .v-selection-control__input input {
    cursor: auto;
  }
}
